<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016419460201-602jenvjj729s87apcq56pcduo7sca3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016419460201-602jenvjj729s87apcq56pcduo7sca3l</string>
	<key>API_KEY</key>
	<string>AIzaSyBsp4cL2-fu8W7B-lu0HMsVAr3uCnrW7dE</string>
	<key>GCM_SENDER_ID</key>
	<string>1016419460201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterthailand.ungfindfriend</string>
	<key>PROJECT_ID</key>
	<string>ungfindfriend-e8c8c</string>
	<key>STORAGE_BUCKET</key>
	<string>ungfindfriend-e8c8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016419460201:ios:33493cc4da30eb6bc9aef8</string>
</dict>
</plist>